/bin
/obj
/.vs
node_modules
/yarn-error.log
/dist
/coverage
/docs/_build
/requestly
tmp-*
logger.log
loggererror.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/.idea
petstore-*.tgz
/profiles